# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
out/
.classpath
.project
.settings/
.DS_Store

# Logs and Reports
logs/
reports/
*.log
*.html

# OS
*~
.DS_Store

# Local secrets
secrets.properties
*.env 